<h1>Create a new article</h1>

<form action="/articles" method="POST">
    Article title:<input type="text" name="title" placeholder="title"><br>
    Article Content<input type="textarea" name="content" placeholder="type">
    <input type="submit" value="Submit">
</form>